body > div {
    overflow: hidden;
    border-right: 2px solid;
    border-left: 2px solid;
    border-bottom: 2px solid;
    height: 1250px;
}

nav {
    float: left;
    width: 12%;
    padding: 40px 10px;
    height: 1400px;
}

div > div {
    float: left;
    padding-top: 40px;
    width: 70%;
    height: 1440px;
}

aside {
    float: left;
    overflow: hidden;
    display: inline-block;
    width: 14%;
    padding: 40px 4px;
    padding-left: 20px;
    height: 1400px;
}

nav a {
    display: block;
    margin: 40% 0%;
    padding: 10% 0%;
}

article div {
    float: left;
    width: 50%;
    padding-left: 20px;
    padding-right: 10px;
}

article {
    overflow: hidden;
    padding: 40px 0px;
}

article h2 {
    float: left;
    padding: 0px 20px;
}

article img {
    float: left;
    padding-left: 20px;
}

aside a {
    float: left;
    padding: 10% 6%;
    margin: 10% 6%;
}